<div mat-dialog-title class="details-report-dialog-title">
    <h2>Contenu du rapport</h2>
</div>
<div mat-dialog-content class="details-report-dialog-content">
    <div class="container">
        <mat-form-field appearance="outline" class="body" fullWidth>
            <mat-label>Contenu du rapport</mat-label>
            <textarea matInput [(ngModel)]="report.body" rows="13" class="no-resize" #textarea></textarea>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions class="details-report-dialog-actions">
    <button mat-button (click)="close()">Fermer</button>
    <button mat-button color="primary" (click)="save()">Sauvegarder</button>
</div>
