.row-add {
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
    margin-left: 25px;
}

.col-add {
    width: 45%;
}

mat-form-field {
    width: 100%;
}

h2 {
    text-align: center;
}

.add-report-dialog-content {
    height: 350px;
}

.add-report-dialog-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 75px;
    padding-right: 20px;
}

.add-report-dialog-title {
    height: 75px;
}

.no-resize {
    resize: none !important;
}

mat-option {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}