<div mat-dialog-title class="add-report-dialog-title">
    <h2>Ajouter un rapport</h2>
</div>
<div mat-dialog-content class="add-report-dialog-content">

    <div class="row-add">
        <!-- Titre -->
        <div class="col-add">
            <mat-form-field appearance="outline" fullWidth>
                <mat-label>Titre</mat-label>
                <input matInput [(ngModel)]="report.title">
            </mat-form-field>
        </div>
        <!-- Mission -->
        <div class="col-add">
            <mat-form-field appearance="outline" fullWidth>
                <mat-label>Mission</mat-label>
                <mat-select [(ngModel)]="report.missionId">
                    @for (mission of missionStore.missions(); track mission.id; let i = $index) {
                        <ng-container>
                            <mat-option [value]="mission.id">{{ mission.title }}</mat-option>
                            @if (i < missionStore.missions().length - 1) {
                                <mat-divider ></mat-divider>
                            }
                        </ng-container>

                    }
                </mat-select>
            </mat-form-field>
        </div>
    </div>

    <div class="row-add">
        <!-- Description -->
        <mat-form-field appearance="outline" fullWidth>
            <mat-label>Contenu</mat-label>
            <textarea matInput [(ngModel)]="report.body" rows="10" class="no-resize"></textarea>
        </mat-form-field>
    </div>
</div>

<div mat-dialog-actions class="add-report-dialog-actions">
    <button mat-button (click)="close()">Annuler</button>
    <button mat-button color="primary" (click)="save()">Ajouter</button>
</div>
